.form-group {
    margin-bottom: 30px;
    outline: 0px;
}

label {
    font-weight: 600;
    color: #666;
}
body {
  background: #f1f1f1;
}

.mx-t3{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.container {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 36px 48px 48px 48px;
  background-color: #f2efee;
  color: #004D49;

  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}